.infographics {
    width: 870px;
    height: 810px;
    //margin-top: 50px;
    //margin-left: 500px;
}

.flat-plan {
    width: 870px;
    height: 810px;
    object-fit: cover;
    position: relative;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
}

.flat {

    &__bathroom {
        fill: transparent;
        stroke: transparent;
        stroke-width: transparent;

        &:hover {
            stroke: black;
            stroke-width: 3px;
            fill: #87CEEB;
            opacity: 0.6;
        }
    }

    &__living-room {
        fill: transparent;
        stroke: transparent;
        stroke-width: transparent;

        &:hover {
            stroke: black;
            stroke-width: 3px;
            fill: #98FB98;
            opacity: 0.6;
        }
    }

    &__bedroom {
        fill: transparent;
        stroke: transparent;
        stroke-width: transparent;

        &:hover {
            stroke: black;
            stroke-width: 3px;
            fill: #db81ab;
            opacity: 0.6;
        }
    }

    &__kitchen {
        fill: transparent;
        stroke: transparent;
        stroke-width: transparent;

        &:hover {
            stroke: black;
            stroke-width: 3px;
            fill: #f1e645;
            opacity: 0.6;
        }
    }

    &__hallway {
        fill: transparent;
        stroke: transparent;
        stroke-width: transparent;

        &:hover {
            stroke: black;
            stroke-width: 3px;
            fill: #eb7d51;
            opacity: 0.6;
        }
    }
}





