.infographics {
    width: 870px;
    height: 810px;


.flat-plan {
    width: 870px;
    height: 810px;
    object-fit: cover;
    position: relative;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
}

.flat {

    &__bathroom {
        @extend %style;

        &:hover {
            @extend %hoverstyle;
            fill: #87CEEB;
        }
    }

    &__living-room {
        @extend %style;

        &:hover {
            @extend %hoverstyle;
            fill: #98FB98;
        }
    }

    &__bedroom {
        @extend %style;

        &:hover {
            @extend %hoverstyle;
            fill: #db81ab;
        }
    }

    &__kitchen {
        @extend %style;

        &:hover {
            @extend %hoverstyle;
            fill: #f1e645;
        }
    }

    &__hallway {
        @extend %style;

        &:hover {
            @extend %hoverstyle;
            fill: #eb7d51;
        }
    }
}
}