@import "./base/normalize.scss";


%style {
    fill: transparent;
    stroke: transparent;
    stroke-width: transparent;
}

%hoverstyle {
    stroke: black;
    stroke-width: 3px;
    opacity: 0.6;
}


@import "./infographics";

